body,
button,
.filter-button-group.button-group button,
input,
select,
textarea {
	font-family: 'pt-serif', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'pt-serif', serif;
}


.widget-area .essential-widgets .hentry .entry-title,
.widget .wp-block-group h2.entry-title,
.section-title{
	 font-family: 'pt-serif', serif;
}

.page-links a, 
.page-links > span,
.author-link,
.team-content-wrapper .entry-meta,
.entry-meta a,
.tagcloud a,
.comment-reply-link,
.comment-form label,
label,
.close-toggle,
.search-tags a,
.catch-breadcrumb .entry-breadcrumbs, 
.catch-breadcrumb .woocommerce-breadcrumb,
.custom-header-media .section-subtitle,
.widget  h2,
.nav-controls .owl-dots button,
#testimonial-content-section  #slider-dots,
#testimonial-content-section .owl-prev,
#testimonial-content-section .owl-next,
.widget-area .widget .hentry .entry-meta,
.experience .experice-date,
.comment-permalink.entry-meta {
	font-family: 'poppins',sans-serif;
}
// button,
// button[disabled]:hover,
// button[disabled]:focus,
// .button,
// input[type="button"],
// input[type="button"][disabled]:hover,
// input[type="button"][disabled]:focus,
// input[type="reset"],
// input[type="reset"][disabled]:hover,
// input[type="reset"][disabled]:focus,
// input[type="submit"],
// input[type="submit"][disabled]:hover,
// input[type="submit"][disabled]:focus,
// .woocommerce #respond input#submit,
// .woocommerce a.button,
// .woocommerce button.button,
// .woocommerce input.button,
// .more-link .readmore,
// .ui-tabs .ui-tabs-nav li a,
// .posts-navigation a,
// #content #infinite-handle span button,
// .catch-instagram-feed-gallery-widget-wrapper .button,
// #portfolio-content-section .filter-button-group .button {
// 	font-family: 'Josefin Sans', sans-serif;
// }
