/**
 * 1.0 - Variables
 */


/**
 * 1.1 - Colors
 */

$theme-background-color: (

    background-color: #000000, 

    page-background-color: #000000, 

    primary-background-color: #1a1a1a,

    secondary-background-color: #111111,


);

$theme-color: (

    site-branding-color: #ffffff, 

    heading-text-color: #fff,

    header-navigation-color: #fff,

    main-text-color: #999999, 

    link-color: #ff2906, 

    link-hover-color: #fff, 

    secondary-link-color: #888888,

    secondary-link-hover-color: #ff2906, 

    tertiary-link-color: #fff, 

    border-color: #323232,  

    content-color-white: #fff, 

    absolute-site-branding-color: #ffffff, 

    absolute-header-navigation-color: #ffffff, 

    absolute-header-navigation-hover-color: #ff2906,

);

$button-color: (

    button-text-color: #ffffff, 

    button-hover-text-color: #ffffff, 

    button-background-hover-color: #ff2906,

    
);


