/**
 * 14.9 - Contact Section
 */

 #contact-section {
    padding: 0;
    position: relative;
}

.contact-details > div {
    display: block;
    float: none;
    margin: 0 0 35px;
    position: relative;
    width: 100%;
}
.contact-details > .contact-address{
    float: left;
}

.contact-details > div a {
    display: block;
}

.contact-details .contact-details-icon-wrapper {
    border: 1px solid;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: none;
    margin: 0 auto 21px;
    padding: 21px;
    text-align: center;
    width: 80px;
    height: 80px;
}

.contact-details .contact-details-icon-wrapper .icon {
    width: 35px;
    height: 35px;
}

.contact-details .contact-details-label {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.75;
}

.contact-section .view-more {
    padding: 0;
    text-align: left;
}

.contact-section .contact-us-form,
.contact-section .contact-info {
    width: 100%;
    padding: 0 30px;
    margin: 0;
}
.contact-section .hentry.contact-us-form {
    padding-bottom: 42px;
    padding-top: 42px;
}
// article.hentry.contact-info{
//     margin: 0 -30px;
// }

.contact-section #social-contact-navigation {
    float: left;
}

.contact-section #social-contact-navigation .social-links-menu {
    justify-content: left;
}

.contact-details .contact-info-wrap {
    @include flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
article.hentry.contact-info  {
    padding-left: 0;
    padding-right: 0;
}
article.hentry.contact-info .post-thumbnail {
    padding-bottom: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.contact-us-form textarea.wpcf7-form-control.wpcf7-textarea {
    height: 130px;
    resize: none;
}

#contact-section .two-col div {
    width: 50%;
    float: left;
    padding-right: 28px;
}
#contact-section .two-col div:last-child{
    padding-right: 0;
}

.contact-us-form .two-col > div:first-child,
.two-col {
    margin-bottom: 28px;
}

.contact-info .entry-content {
    margin-top: 0;
}
.wpcf7-form label,
.contact-us-form label {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    line-height: 1;
    letter-spacing: 0.86px;
}
figure.google-maps {
    margin: 0;
}
figure.google-maps iframe {
    width: 100%;

}

.contact-section .section-heading-wrapper.featured-section-headline {
    text-align: left;
    padding-left: 0;
    padding-right: 0;
}
.contact-section .section-heading-wrapper::before {
    left: 0;
    transform: none;
}
.section-content-wrapper.contact-content-wrapper.layout-one{
    display: block;
}
.contact-section.layout-one .hentry.contact-us-form {
    margin: 0 auto;
    max-width: 600px;
    float: none;
    padding-right: 30px;
    z-index: 9;
}
.layout-one article.hentry.contact-info .post-thumbnail{
    position: relative;

}
.section-content-wrapper.contact-content-wrapper.layout-one {
    padding: 0;
}
#contact-details-section .section-heading-wrapper.featured-section-headline,
#contact-details-section,
.contact-section.layout-one .section-heading-wrapper.featured-section-headline {
    text-align: center;
}

.contact-section.layout-one .section-heading-wrapper::before{
    left: 50%;
    transform: translateX(-50%);
}

.layout-one article.hentry.contact-info .post-thumbnail{
    padding-bottom: 0;
}

.contact-details-section .details {
    padding: 15px 30px;
}
#contact-section.layout-one .wrapper {
    max-width: 100%;
}
#contact-section.layout-one .section-content-wrapper.contact-content-wrapper{
    padding: 0;
}
#contact-section.layout-one .section-content-wrapper.contact-content-wrapper .entry-content{
    margin-top: 0;
}

#contact-details-section .section-heading-wrapper{
    margin-bottom: 28px;
}
.contact-section.layout-one .hentry.contact-info {
    width: 100%;
}
.contact-section .wpcf7-form-control.wpcf7-submit {
    margin-top: 28px;
 
}
.contact-section.layout-one .wpcf7-form-control.wpcf7-submit {
    margin: 28px auto 0;
    display: flex;
}
.contact-section article.contact-us-form + article.hentry.contact-info .post-thumbnail a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#contact-map-section {
    padding: 0;

    .wrapper {
        max-width: 100%;

        .contact-content-wrapper {
            padding: 0;

            .hentry {
                margin: 0;
            }
        }
    }
}

.contact-form-section .section-content-wrapper .entry-content {
    padding: 30px;
    margin-top: 0;
}

.contact-form-section .section-content-wrapper .entry-content textarea,
.contact-form-section .section-content-wrapper .entry-content input {
    margin-top: 0;
}

.wpcf7 form p{
    margin-bottom: 28px;
}

.wpcf7 form p:last-of-type {
    margin-bottom: 0;
}

.contact {
    align-items: center;
    display: flex;
    padding-bottom: 28px;
    border-bottom: 1px solid;
    margin-bottom: 28px;

    &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
    }

    .icon {
        width: 40px;
        font-size: 36px;
    }
    .inner-contact {
        width: calc(100% - 40px);
        padding-left: 14px;
    }

    .inner-contact {
        font-size: 18px;

        .address-label, .email-label, .phone-label {
            font-weight: 700;
            margin-bottom: 7px;
        }
    }
}

.section-content-wrapper.contact-content-wrapper {
    padding: 0 30px;
}

// .contact-us-form form span textarea{
//     margin-bottom: 28px;
// }
// #contact-form-section .section-content-wrapper .contact-us-form p {
//     margin-bottom: 0;
// }

article.hentry.contact-us-form .entry-description {
    margin-bottom: 21px;
    line-height: 1.46;
}

// .section-content-wrapper .entry-content form.wpcf7-form label textarea,
// .section-content-wrapper .entry-content form.wpcf7-form label input {
//     margin-top: 10px;
// }

.section-content-wrapper .entry-content  form.wpcf7-form label + input {
    margin-top: 28px
}

#contact-map-section .entry-content {
    margin: 0;
}